asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.1
cloudinary==1.29.0
colorama==0.4.5
dj-database-url==1.0.0
Django==4.1
django-cloudinary-storage==0.3.0
django-environ
django-rest-framework==0.1.0
djangorestframework==3.13.1
gunicorn
idna
Pillow
psycopg2
python-magic
pytz
qrcode
requests
six
sqlparse
tzdata
urllib3
